@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="container">
    <div class="row">
        <h1>
            <img class="icon" src="~/icon.jpg">
            Welcome to IdentityServer4
            <small>(version @version)</small>
        </h1>
    </div>

    <div class="row">
        <p>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </p>
        <p>
            Click <a href="~/grants">here</a> to manage your stored grants.
        </p>
    </div>

    <div class="row">
        <p>
            Here are links to the
            <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
            and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
        </p>
    </div>
</div>